.weather
{

    display: flex;
    
    .weather_elements
    {
        background: $bg_color12_checkbox_checked;
        display: flex;
        flex-wrap: wrap;
        color: $white;
        width: 100px;
        margin-right: 0.5%;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.55);
        .date
        {width: 100%;
        }
        .w_pict
        {
            width: 50%
        }
        .t_diap{
            .upper_t
            {width: 100%}
            .lower_t
            {width: 100%}
        }
        &:hover
        {
             background: $bg_color_body_index;
             color: $color3;
        }
    }
}