<div class="container">
    <div class="row weather">
        <div class="weather_elements">
            <div class="date">18 april</div>
            <div class="w_pict"></div>
            <div class="t_diap">

                <div class="upper_t">+3 C</div>
                <div class="lower_t">-15 C</div>
            </div>
            
        </div>
        <div class="weather_elements">
            <div class="date">18 april</div>
            <div class="w_pict"></div>
            <div class="t_diap">
        
                <div class="upper_t">+3 C</div>
                <div class="lower_t">-15 C</div>
            </div>
        
        </div>
        <div class="weather_elements">
            <div class="date">18 april</div>
            <div class="w_pict"></div>
            <div class="t_diap">
        
                <div class="upper_t">+3 C</div>
                <div class="lower_t">-15 C</div>
            </div>
        
        </div>
        <div class="weather_elements">
            <div class="date">18 april</div>
            <div class="w_pict"></div>
            <div class="t_diap">
        
                <div class="upper_t">+3 C</div>
                <div class="lower_t">-15 C</div>
            </div>
        
        </div>
    </div>
</div>